# This file only provides the secrets for the development environment.
# The production environment secrets filed gets copied in during deploy.

development:
  aws_access_key_id:
  aws_secret_access_key:
  aws_region: eu-west-1
  aws_queue_suffix: -development
  application_name: test_runner_orchestrator_dev
  aws_submissions_bucket: CHANGEME

test:
  aws_access_key_id: CHANGE_ME
  aws_secret_access_key: CHANGE_ME
  aws_region: eu-west-1
  aws_queue_suffix: -test
  application_name: test_runner_orchestrator_test
  aws_submissions_bucket: test-exercism-submissions
